# Dependencies
node_modules/
*/node_modules/

# Build outputs
.next/
out/
build/
dist/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/
.vs/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.vercel
coverage/
*.pem

# Backend specific
Electro.Api/bin/
Electro.Api/obj/
Electro.Core/bin/
Electro.Core/obj/
Electro.Reposatory/bin/
Electro.Reposatory/obj/
Electro.Service/bin/
Electro.Service/obj/
Electro.Api/wwwroot/uploads/
Electro.Api/wwwroot/**/*.json
*.user
*.suo


.fake